h58958
s 00078/00000/00000
d D 1.1 99/12/02 15:33:42 jmochel 2 1
cC
cK21598
cO-rw-rw-rw-
e
s 00000/00000/00000
d D 1.0 99/12/02 15:33:38 jmochel 1 0
c BitKeeper file G:/SpaceHybrid/BitKeeper/etc/config
cBjmochel@devilmountain.bedford.foliage.com|ChangeSet|19991202203126|52994|e2968a7f5cb68f67
cHdevilmountain.bedford.foliage.com
cK44842
cPBitKeeper/etc/config
cR536f46ff5cb68f67
cZ-05:00
c______________________________________________________________________
e
u
U
f e 0
f x 33
t
T
I 2
# This is the BitKeeper configuration file.
# %W% %@%
#
# It defines the contact information for the responsible party for this
# project.  This information is used by BitKeeper to provide support to
# BitKeeper users.  Please take a minute to fill it out carefully, it
# needs to be accurate.

# Open Logging server.  This site is where users can go to see what has
# happened in all instances of this repository.
# If this repository is non commercial, i.e. BitKeeper is being used for
# free, the site must be in the openlogging.org domain, otherwise it can
# be an internal site.
# Anyone may apply for an alias (CNAME) in the openlogging.org domain
# if they are willing to maintain a BitKeeper Open Logging web server.
# linux.openlogging.org could host the Linux kernel effort, for example.

logging:	logging@openlogging.org

# Commercial seats.  If the logging field is *.openlogging.org, then this
# field is ignored.  If the previous field is some internal site, such as
# bitkeeper.mycompany.com, then this file is included in diagnostic messages
# sent back to bitkeeper.com.  The value of this field determines the number
# of users which can work on the repository within a 6 month period.
# It's an upper bound on the number of users allowed in the repository,
# which determines the price which your company will be billed for the
# use of BitKeeper.  This field allows management to limit the number of
# seats in use.  A "seat" is a user.

seats:		1

# Security of diagnostic messages.  BitKeeper sends periodic
# status back to BitKeeper.com.  This information is used as part of
# the support process, i.e., if you are using an older version of
# BitKeeper, we'll let you know automatically when an update is available.
#
# Commercial customers can arrange for greater levels of security
# the diagnostics sent back to BitMover, Inc.  Contact your sales
# representative for assistance.
#
# Note: BitMover does not and will not make any information gathered through
# this mechanism available to the public.  The information is used solely
# by BitMover for support and will not be disclosed, forwarded, or sold
# to any third party for any purpose.
#
# Values for this field are currently "none" or "ssh".  The "ssh" field
# requires that ssh is installed in order to operate and you must have
# prearranged for high security support service.

security:	none

# Contact person for this project.  This is whoever is the person that
# should be contacted with update information or contacted if BitKeeper
# discovers a problem which requires local intervention.  Please make the
# contact information accurate so we can support you.

contact:	Jim Jackl-Mochel

# Preferred email for the contact
email:		jmochel@foliage.com

# Postal address.

Street:		168 Middlesex Turnpike	
City:		Burlington MA
Postal:		01803
Country:	USA

# A phone number which may be used to call in support.  Fields are also
# provided for cell phones and pagers.

phone:		781-993-5500 x442

# Times which are reasonable to call.  If this is not filled out, we
# assume 10am to 9pm local time, assuming we can determine local time
# The time format is ``military'' i.e., 6pm is 18:00.

business hours: 10:00-21:00
E 2
I 1
E 1
