h51868
s 00013/00000/00000
d D 1.1 99/12/02 15:42:01 jmochel 2 1
cC
cK11843
cO-rw-rw-rw-
e
s 00000/00000/00000
d D 1.0 99/12/02 15:41:57 jmochel 1 0
c BitKeeper file G:/SpaceHybrid/DataTools/Skills/skilldat.example
cBjmochel@devilmountain.bedford.foliage.com|ChangeSet|19991202203126|52994|e2968a7f5cb68f67
cHdevilmountain.bedford.foliage.com
cK44892
cPDataTools/Skills/skilldat.example
cReb47850b5cb68f68
cZ-05:00
c______________________________________________________________________
e
u
U
f e 0
f x 33
t
T
I 2
.BeginSkill
.Name
.BasicType
.Interaction
.Implementation
.Focus
.StatBasis
.BeginDesc
.EndDesc
.BeginDF
##	DF_Description
.EndDF
.EndSkill
E 2
I 1
E 1
