Macro Processor Basic Requirements

Command Line Operation 
GUI Wrapper
Speed not that important
Clean access to Java Classes as extensions

Features


General

	Comments 
	Includes
	

Flow of Control

	If/Else If/Else
	While 
	For
	Exit

Macros

	Define
	Invoke
	
Expressions/Variables

	Uses Java classes as objects inline






