all.clsMenuItemNS{font: bold x-small Arial; color: white; text-decoration: none;}
.clsMenuItemIE{text-decoration: none; font: bold x-small Arial; color: #0099FF; cursor: hand;}
A:hover {font: bold; color: #FF0000;}
